<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ag-grid-angular 
    style="width: 87%; height: 370px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"

    [enableSorting]="true"
    [multiSortKey]="multiSortKey"
    [animateRows]="true"

    [pagination]="true"
    [paginationPageSize]="8"

    [enableFilter]="true"
    [floatingFilter]="true"

    >
</ag-grid-angular>

